<section class="index-page">
  <p class="success">
    You have been successfully logged in!
  </p>
  <img class="avatar" src="{{ image }}"/>
  <h1>Hello {{ name }}</h1>
  <a href="/user/logout">Logout</a>
</section>